.TextPane{
    background-color: #ccc;
    display: inline-block;
    width: 25%;
    height: 300px;
}

#OutputPane {
    width: 100%;
    height: 300px;
}

#loginpopup {
  visibility: hidden;
  position: absolute;
  display: flex;
  top: 5vh;
  right: 0;
  left: 0;
  min-width: 300px;
  min-height: 400px;
  background-color: #404040;
  width: 15vw;
  height: 50vh;
  margin: auto;
  box-shadow: 8px 8px 4px #aaa;
}
.loginButtons {
  position: relative;
  height: 50px;
  width: 200px;
  margin: auto;
  display: block;
}
